name: TypeScript Compilation

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    Compilation:
        name: Compilation
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v3

            - name: Use Node.js v18
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install NPM dependencies
              run: npm install

            - name: Run TSC
              run: npx tsc